---
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';
import { getGalleryImages } from '~/components/contentful/contentful';
import { contentfulClient } from '~/components/lib/contentful';
import type { Asset, EntryFieldTypes, UnresolvedLink } from 'contentful';

const title = 'Video';
---

<Layout metadata={{ title }}>
  <div class="container-fluid tm-mt-60">
    <div class="row mb-4">
      <h2 class="col-12 tm-text-primary">Tools Repository</h2>
    </div>
    <div class="row tm-mb-74 tm-row-1640">
      <div class="col-lg-5 col-md-6 col-12 mb-3">
        <img src="../../images/tools.png" alt="Image Website" style="width: 100%; height: 100%" class="img-fluid" />
      </div>
      <div class="col-lg-7 col-md-6 col-12">
        <div class="tm-about-img-text">
          <p class="mb-4">
            Repository Tools adalah platform berbasis web yang dirancang khusus untuk menyimpan, mengelola, dan
            membagikan koleksi gambar dan video dalam bentuk katalog galeri digital. Platform ini memberikan pengalaman
            yang mudah dan efisien bagi pengguna untuk menemukan, mengakses, dan memanfaatkan konten media secara cepat
            melalui tautan yang terintegrasi pada setiap gambar atau video.
          </p>
          <p>
            Repository Tools bertujuan untuk menjadi solusi utama dalam mengelola media digital, baik untuk kebutuhan
            pribadi maupun profesional. Dengan desain yang intuitif dan navigasi yang ramah pengguna, platform ini
            memungkinkan akses ke berbagai konten visual hanya dengan beberapa klik. Setiap gambar atau video dalam
            katalog dilengkapi dengan deskripsi serta tautan unik. Tautan ini memudahkan pengguna untuk membuka konten
            terkait atau file asli, sehingga meningkatkan fleksibilitas dan kemudahan akses.
          </p>
        </div>
      </div>
    </div>
    <div class="row tm-mb-50">
      <div class="col-md-4 col-12">
        <div class="tm-about-3-col">
          <div class="tm-about-icon-container mb-5">
            <i class="fas fa-desktop fa-3x tm-text-primary"></i>
          </div>
          <h2 class="tm-text-primary mb-4">Koleksi Luas</h2>
          <p class="mb-4">
            Ribuan foto dan video dalam berbagai kategori, mulai dari alam, kreativitas hingga teknologi.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="tm-about-3-col">
          <div class="tm-about-icon-container mb-5">
            <i class="fas fa-mobile-alt fa-3x tm-text-primary"></i>
          </div>
          <h2 class="tm-text-primary mb-4">Kemudahan Akses</h2>
          <p class="tm-mb-50">Klik tombol untuk langsung mengunduh foto atau video yang Anda pilih, tanpa repot.</p>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="tm-about-3-col">
          <div class="tm-about-icon-container mb-5">
            <i class="fas fa-photo-video fa-3x tm-text-primary"></i>
          </div>
          <h2 class="tm-text-primary mb-4">Gratis dan Lisensi Aman</h2>
          <p class="mb-4">
            Jelajahi koleksi kami dengan tenang, karena kami menjamin konten yang tersedia telah dilengkapi lisensi
            penggunaan yang sesuai.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
