---
import { getPermalink } from '~/utils/permalinks';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sentrakreasi PAUD</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
    <link rel="icon" href="images/logo pkm.png" type="image/png">

</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href={getPermalink('/')}>
                <!-- <i class="fas fa-film mr-2"></i> -->
                <img src="images/logo pkm.png" alt="Logo Website" style="width: 85px; height: 85px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href={getPermalink("/")}>Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href={getPermalink("videos")}>Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3 active" aria-current="page" href={getPermalink("about")}>About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link nav-link-4" href={getPermalink("contact")}>Contact</a>
                </li> -->
            </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg"></div>

    <div class="container-fluid tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Tools Repository
            </h2>
        </div>
        <div class="row tm-mb-74 tm-row-1640">            
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="../../images/tools.png" alt="Image Website" style="width: 100%; height: 100%" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="mb-4">
                        Repository Tools adalah platform berbasis web yang dirancang khusus untuk menyimpan, mengelola, dan membagikan koleksi gambar dan video dalam bentuk katalog galeri digital. Platform ini memberikan pengalaman yang mudah dan efisien bagi pengguna untuk menemukan, mengakses, dan memanfaatkan konten media secara cepat melalui tautan yang terintegrasi pada setiap gambar atau video.</p>
                    <p>
                        Repository Tools bertujuan untuk menjadi solusi utama dalam mengelola media digital, baik untuk kebutuhan pribadi maupun profesional. Dengan desain yang intuitif dan navigasi yang ramah pengguna, platform ini memungkinkan akses ke berbagai konten visual hanya dengan beberapa klik. Setiap gambar atau video dalam katalog dilengkapi dengan deskripsi serta tautan unik. Tautan ini memudahkan pengguna untuk membuka konten terkait atau file asli, sehingga meningkatkan fleksibilitas dan kemudahan akses.</p> 
                </div>                
            </div>
        </div>
        <div class="row tm-mb-50">
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-desktop fa-3x tm-text-primary"></i>
                    </div>                
                    <h2 class="tm-text-primary mb-4">Koleksi Luas</h2>
                    <p class="mb-4">Ribuan foto dan video dalam berbagai kategori, mulai dari alam, kreativitas hingga teknologi.</p>
                </div>                
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-mobile-alt fa-3x tm-text-primary"></i>
                    </div>                
                    <h2 class="tm-text-primary mb-4">Kemudahan Akses</h2>
                    <p class="tm-mb-50">Klik tombol untuk langsung mengunduh foto atau video yang Anda pilih, tanpa repot.</p>
                </div>                
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-photo-video fa-3x tm-text-primary"></i>
                    </div>                
                    <h2 class="tm-text-primary mb-4">Gratis dan Lisensi Aman</h2>
                    <p class="mb-4">Jelajahi koleksi kami dengan tenang, karena kami menjamin konten yang tersedia telah dilengkapi lisensi penggunaan yang sesuai.</p>
                </div>                
            </div>
        </div>
    </div> <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Tools Repository</h3>
                    <p>"Yuk, cari foto dan video stock keren buat kebutuhan kamu! Klik dan siap pakai. Simple banget, kan?"</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Our Links</h3>
                    <ul class="tm-footer-links pl-0">
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Our Company</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                        <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                        <li class="mb-2"><a href="https://pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                    <a href="#" class="tm-text-gray text-right d-block mb-2">Terms of Use</a>
                    <a href="#" class="tm-text-gray text-right d-block">Privacy Policy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    Copyright 2024 Tools Repository. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    
    <script>
        window.onload = function() {
            document.body.classList.add('loaded');
        };
        document.addEventListener('DOMContentLoaded', () => {
          console.log(window.innerWidth); // Sekarang Anda bisa akses window
        });
    </script>  
</body>
</html>