---
// Redirect the user to /photos/all/1
export async function get({ redirect }) {
  return redirect('/photos/all/1');
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0;url=/photos/all/1" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/photos/all/1">/photos/all/1</a>...</p>
  </body>
</html>
