---
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';
import { getGalleryImages } from '~/components/contentful/contentful';
import { contentfulClient } from '~/components/lib/contentful';
import type { Asset, EntryFieldTypes, UnresolvedLink } from 'contentful';

const title = 'Video';
---

<Layout metadata={{ title }}>
  <div class="container-fluid tm-container-content tm-mt-60">
    <div class="text-center p-20">
      <h1 class="text-muted">Video belum tersedia</h1>
    </div>
  </div>
</Layout>
